li {
  background-color: var(--li-bg-color);
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 7px 0;
}

ul {
  padding: 0;
}
